<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="prashant_customerrecord" id="prashant_customerrecord">
			<module before="Magento_Backend" name="Prashant_CustomerRecord"/>
		</route>
	</router>
</config>